@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: "MatrixSans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MatrixSans-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "MatrixSans Print";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MatrixSansPrint-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "MatrixSans Raster";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MatrixSansRaster-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "MatrixSans Screen";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MatrixSansScreen-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "MatrixSans Video";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/MatrixSansVideo-Regular.woff2") format("woff2");
  }

  html {
    font-family: "MatrixSans", Menlo, monospace, system-ui, sans-serif;
  }
}

body.prefers-reduced-transparency [class*="backdrop-blur"] {
  --tw-backdrop-blur: blur(0px) !important;
}
body.prefers-reduced-transparency [class*="bg-bg-dim/50"] {
  @apply bg-bg-dim/100;
}
body.prefers-reduced-transparency [class*="bg-bg-status-line-2/50"] {
  @apply bg-bg-status-line-2/95;
}
